[submodule "addons/ofxUI"]
	path = addons/ofxUI
	url = git@github.com:rezaali/ofxUI.git
[submodule "addons/ofxInteractivePrimitives"]
	path = addons/ofxInteractivePrimitives
	url = git@github.com:satoruhiga/ofxInteractivePrimitives.git
[submodule "addons/ofxCv"]
	path = addons/ofxCv
	url = git@github.com:kylemcdonald/ofxCv.git
[submodule "addons/ofxNodeArray"]
	path = addons/ofxNodeArray
	url = git@github.com:YCAMInterlab/ofxNodeArray.git
[submodule "addons/ofxBt"]
	path = addons/ofxBt
	url = git@github.com:motoishmz/ofxBt.git
