.svn
.hg
.cvs

*.pyc

# osx
*.app
*.mode1v3
*.pbxuser
.DS_Store
build
xcuserdata
DerivedData
project.xcworkspace

# win
*.obj
*.dll
*.lib
*.exp
*.exe
*.pdb
*.*sdf
*.suo
*.ilk
obj

*.zip

dev
devApps
bin/data
!bin/data/.gitkeep

resources/Sounds/
resources/MotionData/
resources/MotionData-OSCServer/
resources/Settings/cache/
!resources/Sounds/.gitkeep
!resources/MotionData/.gitkeep
!resources/Settings/cache/.gitkeep
resources/Settings/presets/preset.init.xml
