[submodule "addons/ofxBt"]
	path = addons/ofxBt
	url = git@github.com:satoruhiga/ofxBt.git
[submodule "addons/ofxControlPanel"]
	path = addons/ofxControlPanel
	url = https://motoishmz@github.com/kylemcdonald/ofxControlPanel.git
[submodule "addons/ofxValue"]
	path = addons/ofxValue
	url = https://motoishmz@github.com/satoruhiga/ofxValue.git
