.svn
.hg
.cvs

*.pyc

# osx
*.app
*.mode1v3
*.pbxuser
.DS_Store
build
xcuserdata
DerivedData
project.xcworkspace

# win
*.obj
*.dll
*.lib
*.exp
*.exe
*.pdb
*.*sdf
*.suo
*.ilk
obj

*.zip

dev
devApps
bin/data
!bin/data/.gitkeep


# actor color setting　cache
resources/Sounds/
resources/Settings/cache/
!resources/Settings/cache/.gitkeep